body {
  font-family: "Heebo", sans-serif;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

header {
  text-align: center;
  margin-top: 5px;
}

h1 {
  color: #0466c8;
  font-size: 40px;
  font-weight: 800;
}

form {
  display: block;
  margin: 0 auto;
}

section {
  text-align: center;
}

h2 {
  color: #0466c8;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  max-width: 500px;
  background-color: #fff;
  border: 1.5px solid #e1dee3;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px 40px;
}

.subtitle {
  color: #637081;
  font-size: 20px;
  font-weight: normal;
}

.current-date {
  color: #7fc8f8;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.weather-today img {
  height: 175px;
  width: 175px;
}

.current-condition {
  color: #637081;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.current-temperature {
  color: #0466c8;
  font-size: 90px;
  font-weight: 700;
}

.temperature-range {
  color: #7fc8f8;
  font-size: 22px;
  margin-top: -65px;
  margin-bottom: -65px;
  margin-right: 10px;
}

.temperature-range .low-data, .high-data {
  display: inline;
  margin-left: -10px;
}

.current-feel {
  color: #637081;
  font-size: 24px;
  font-weight: bold;
}

.current-peripherals {
  color: #637081;
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.25;
}

.forecast-day {
  color: #637081;
  font-size: 20px;
  font-weight: bold;
}

.forecast-tempmax {
  color: #0466c8;
  font-size: 12px;
  font-weight: bold;
}

.forecast-tempmin {
  color: #7fc8f8;
  font-size: 12px;
}

.music-api {
  margin-bottom: 5px;
}

.music-greeting {
  color: #637081;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.75;
}

.coded-by {
  text-align: center;
  color: #637081;
  font-size: 12px;
  font-weight: lighter;
}

.clickthru-links {
  color: #fd8021;
  font-weight: bold;
}

#current-location {
  color: #7fc8f8;
  font-size: 14px;
  font-style: italic;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

#current-location:hover {
  color: #fd8021;
  cursor: pointer;
  text-decoration: underline;
}

#icon {
  margin-top: -15px;
  margin-bottom: -35px;
}

#range-icon {
  display: inline;
  width: 72px;
  vertical-align: middle;
}
